h1 {
  text-align: center;
  font-family: sans-serif;
  background-color: yellow;
  padding: 2%;
  margin: 0;
}
nav {
  border: thin solid black;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  grid-row: 2;
}
header,
img {
  width: 100%;
  margin: 0;
}
